@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.container {
  /* NOTE: Overrides the max-width set by pool.css. */
  /* TODO: This needs checking for responsiveness (smaller screens) */
  max-width: 52rem;
}

#riddle_title_logo {
  width: 100%;
  text-align: center;
}

#riddle_title_book {
  width:10%;
  position:relative;
  top:-370px;
  z-index:-1;"
}

#riddle_title_chart {
  width:10%;
  position:relative;
  top:-150px;
  left: 350px;
  z-index:-1;"
}

.level2 {
  padding-left: 1rem;
  padding-bottom: 0.2rem;
}

.collapsed #sidebar_cloak {
  transition: 0.5s;
  opacity: 0%;
  z-index: 2;
  visibility: hidden;
}

#sidebar_cloak {
  opacity: 100%;
}

.sidebar-about h1 {
  font-family: 'Odibee Sans', serif;
  font-size: 1.75rem;
  text-decoration: underline;
  color: #d7ead8; /* NOTE: affects only the underline due to anchor coloring. */
}

#hamburger_container {
  position: fixed;
  top: 1rem;
  width: 25vw;
  height: 40px;
  /* background-color: #444; */
  z-index: 2;
  transition: 0.5s;
}

#hamburger_container.collapsed {
  width: 1rem;
}

#hamburger_icon {
  position: absolute;
  right: -19px;
  height: 40px;
  width: 40px;
  transform: rotate(180deg);
  transition: 1.5s;
}

#hamburger_container.collapsed > #hamburger_icon {
  position: absolute;
  right: -19px;
  height: 40px;
  width: 40px;
  transform: rotate(0deg);
  transition: 1.5s;
}

.chart_float {
  float: left;
}
